# Ignore dropbox attrs
**/*:com.dropbox.attrs

# Ignore zip files in root
/*.zip

# Ignore all subdirectories
/*/

# Include mods
!Lionheart-CurseEverything/
!Lionheart-PerfectSoldierMovement/
!Lionheart-RemoveEnemyLimit/
!Lionheart-HungryPotato/